# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# React build outputs
build/
dist/

# .NET build outputs
bin/
obj/

# .NET user-specific files
.vs/
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Visual Studio for Mac
.vscode/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer package (.exe)
*.exe
*.dll
*.pdb

# JetBrains Rider
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt
